:root {
  --background: #020001;
  --foreground: #efefef;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: lexend;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 2rem auto;

  fieldset {
    border: none;
    display: flex;
    gap: 1rem;
  }

  input,
  textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid white;

    &::placeholder {
      color: white;
    }
  }

  textarea {
    height: 5rem;
  }

  button {
    align-self: center;
    padding: .5 1.5rem;

    &.loading {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url('/loader.svg');
        background-size: contain;
        height: 2rem;
        width: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}